

.navigation {
    background: #443C29;
    padding: 1vmax;
    padding-left: 7.70vmax;
    overflow: auto;
    
    
}

.navigation ul li {
    display: inline-block;
    padding-left: 0.55vmax;
    padding-right: 0.55vmax;
    align-content: left;
    float: left;
    line-height: 2vmax;

}

.navigation ul {
    list-style-type: none;
    align-content: left;
    

}

.btn-small {
    
    
    
    align-content: left;
}

a {
    font-size: 1vmax;
    text-decoration: none;
    color: #f5f1ed;

}

* {
    font-family: 'b612regular';
    
    font-size: 1vmax;
    
    margin: 0 auto;
}

body {

   

}

.main {
    
    margin-left: 9vmax;
    margin-right: 9vmax;
    padding: 20px;
    background: ;
    text-align: left;
    
    
}
.main p
{
    color: #f5f1ed;
    font-size: 1vmax;
    text-align: left;
    
}

.main h1
{
    font-size: 3vmax;
    color: #f5f1ed;
    

}
.main h2
{
    font-size: 1.5vmax;
    color: #f5f1ed;
    

}

@font-face {
    font-family: 'b612regular';
    src: url('fonts/b612/b612-regular-webfont.woff2') format('woff2'),
         url('fonts/b612/b612-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


.home
{
     background: #443C29;
}
html
{
    -webkit-text-size-adjust: none;
}



#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #2e4e29; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}
.images
{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
    
}
.logo
{
    width: 99%;
    height: 99%;
    display: block;
    padding: 0px;
    
}